In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [12]:
# Importando a base de vendas
base = pd.read_excel("Investimento x Venda.xlsx")

In [13]:
# Tipo do dado
type(base)

pandas.core.frame.DataFrame

In [15]:
# Visualizando o DataFrame
base.head()

   Investimento em marketing  Venda Qtd
0                         20        118
1                         25        142
2                         40        225
3                         52        260
4                         67        295

In [16]:
coluna = base["Investimento em marketing"]

In [17]:
# Tipo do dado
type(coluna)

pandas.core.series.Series

In [18]:
# Visualizando a Series
coluna

0    20
1    25
2    40
3    52
4    67
5    72
6    81
Name: Investimento em marketing, dtype: int64

In [19]:
# Pegando apenas os valores
coluna.values

array([20, 25, 40, 52, 67, 72, 81], dtype=int64)

In [20]:
# Pegando apenas os Ã­ndices
coluna.index

RangeIndex(start=0, stop=7, step=1)